<div class="center-page">
  <form action="/login" method="POST" class="center-form">
  <h3>Login</h3><br>
  <label>Username</label>
  <input type="text" name="username" required />
  <label>Password</label>
  <input type="password" name="password" required />
  <button type="submit">Login</button>
</form></div>
