<div class="center-page">
  <form action="/blogs" method="POST" class="center-form">
  <h3>Create New Blog</h3>
  <label>Title</label>
  <input type="text" name="title" required />
  <label>Content</label><textarea name="content" rows="6" required></textarea>
  <button type="submit">Publish</button>
</form></div>
