<div class="center-page">
  <form action="/signup" method="POST" class="center-form">
  <h3>Signup</h3><br>
  <label>Username</label>
  <input type="text" name="username" required />
  <label>Password</label>
  <input type="password" name="password" required />
  <button type="submit">Signup</button>
</form></div>
